<div class="example-full-width">

  <section>
    <mat-button-toggle-group [(ngModel)]="themeModel" (click)="theme()" aria-label="Font Style">
      <mat-button-toggle value="light">Light</mat-button-toggle>
      <mat-button-toggle value="dark">Dark</mat-button-toggle>
    </mat-button-toggle-group>
  </section>

  <h5>0.Toolbar</h5>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <h5>1.Autocomplete</h5>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <h5>2.Badges</h5>
  <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

  <div matBadge="1" matBadgeSize="small" class="demo-section">Text with small badge</div>
  <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

  <div class="demo-section">
    Button with a badge on the left
    <button mat-raised-button matBadge="8" matBadgePosition="before">
      Action
    </button>
  </div>

  <div class="demo-section">
    Button toggles badge visibility
    <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
      Hide
    </button>
  </div>

  <div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15">home</mat-icon>
    <!-- Include text description of the icon's meaning for screen-readers -->
    <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  </div>

  <h5>3.BootomSheet</h5>
  <p>You have received a file called "cat-picture.jpeg".</p>

  <button mat-raised-button (click)="openBottomSheet()">Open file</button>

  <h5>4. Button</h5>
  <section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button color="primary">Basic</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" class="test-button">Basic</button>
      <button mat-raised-button disabled color="primary" class="test-button">Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank" color="accent">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
      <button mat-stroked-button color="primary">Basic</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button color="primary">Basic</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab aria-label="Example icon button with a delete icon" color="primary">
            <mat-icon>delete</mat-icon>

          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab disabled aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Example icon button with a menu icon" color="primary">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">Extended Fab</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab extended color="primary">
            <mat-icon>favorite</mat-icon>
            Basic
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab extended disabled>
            <mat-icon>favorite</mat-icon>
            Disabled
          </button>
        </div>
        <div class="example-button-container">
          <a mat-fab extended routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
          </a>
        </div>
      </div>
    </div>
  </section>

  <h5>4.b Button with left and right icon</h5>
  <section>
    <div class="example-label">Extended Fab</div>
    <div class="example-button-row">
      <div class="example-flex-container">

        <div class="example-button-container">
          <a mat-button extended routerLink=".">
            <mat-icon>favorite</mat-icon>
            Link
            <mat-icon>favorite</mat-icon>
          </a>
        </div>


        <div class="example-button-container">
          <button mat-raised-button extended color="primary">
            <mat-icon>favorite</mat-icon>
            Raised
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-stroked-button>
            <mat-icon>favorite</mat-icon>
            Stroked
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-fab extended color="primary">
            <mat-icon>favorite</mat-icon>
            <span>Basic</span>
            <mat-icon>favorite</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-button class="custom-buttonw">
            <span class="left-icon">
              <mat-icon>arrow_back</mat-icon>
            </span>
            <span class="button-label">Button Text</span>
            <span class="right-icon">
              <mat-icon>arrow_forward</mat-icon>
            </span>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-button class="custom-buttonw">
            <span class="left-icon">
              <mat-icon>arrow_back</mat-icon>
            </span>
            <span class="button-label">Button Text</span>
            <span class="right-icon">
              <mat-icon iconPositionEnd>arrow_forward</mat-icon>
            </span>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-button class="">
            Button Text
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-button class="" color="primary">
            <mat-icon>arrow_back</mat-icon>
            Button Text
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-button class="" color="primary">
            <mat-icon>arrow_back</mat-icon>
            Button
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-raised-button class="" color="primary">
            <mat-icon>arrow_back</mat-icon>
            Button Text
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-raised-button class="" color="primary">
            <mat-icon>arrow_back</mat-icon>
            Button
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-stroked-button class="" color="primary">
            <mat-icon>arrow_back</mat-icon>
            Button Text
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container" color="accent">
          <button mat-stroked-button class="">
            <mat-icon>arrow_back</mat-icon>
            Button
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-flat-button class="" color="primary">
            <mat-icon>arrow_back</mat-icon>
            Button Text
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="example-button-container">
          <button mat-flat-button class="" color="accent">
            <mat-icon>arrow_back</mat-icon>
            Button
            <mat-icon iconPositionEnd>arrow_forward</mat-icon>
          </button>
        </div>

        <mat-divider></mat-divider>
      </div>
    </div>
  </section>


  <h5>5.Button toogle</h5>
  <section>
    <h4>Button Toggle inside of a Template-driven form</h4>
    <div style="margin-left: 10px;">
      <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator">
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
        <mat-button-toggle value="underline2">Underline2</mat-button-toggle>
        <mat-button-toggle value="underline3">Underline3</mat-button-toggle>
      </mat-button-toggle-group>
      <p>Chosen value is {{fontStyle}}</p>
    </div>
  </section>

  <section>
    <h4>Button Toggle inside of a Reactive form</h4>
    <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
    <p>Chosen value is {{fontStyleControl.value}}</p>
  </section>

  <h5>6.Card</h5>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Chihuahua</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>charming</mat-chip>
        <mat-chip>graceful</mat-chip>
        <mat-chip>sassy</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>

  <!--  -->
  <h5>7.Checkbox</h5>
  <section class="example-section">
    <mat-checkbox class="example-margin" color="primary">Check me!</mat-checkbox>
    <mat-checkbox class="example-margin" [disabled]="true" color="primary">Disabled</mat-checkbox>
  </section>

  <section class="example-section">
    <span class="example-list-section">
      <mat-checkbox color="primary" class="example-margin" [checked]="task().completed"
        [indeterminate]="partiallyComplete()" (change)="update($event.checked)">
        {{task().name}}
      </mat-checkbox>
    </span>
    <span class="example-list-section">
      <ul>
        @for (subtask of task().subtasks; track subtask; let i = $index) {
        <li>
          <mat-checkbox [checked]="subtask.completed" (change)="update($event.checked, i)" color="primary">
            {{subtask.name}}
          </mat-checkbox>
        </li>
        }
      </ul>
    </span>
  </section>

  <h5>8.Chips</h5>
  <mat-chip-set aria-label="Fish selection">
    <mat-chip>One fish</mat-chip>
    <mat-chip>Two fish</mat-chip>
    <mat-chip>Three fish</mat-chip>
    <mat-chip disabled>Four fish</mat-chip>
  </mat-chip-set>
  <mat-divider></mat-divider>
  <h5>9.Date</h5>
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>


  <h5>10.Input Field</h5>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Favorite Food</mat-label>
      <input matInput placeholder="Your Name" type="week">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Write story..."></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com">
      <mat-hint>Errors appear instantly!</mat-hint>
      @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      }
      @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <!-- <mat-label>Leave a comment</mat-label> -->
      <input matInput placeholder="YOur Nmae" disabled>
    </mat-form-field>

    <mat-form-field>
      <input matInput>
    </mat-form-field>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Message</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
      </mat-form-field>
    </form>



  </form>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Telephone</mat-label>
      <span matTextPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">

      <!-- <mat-icon >mode_edit</mat-icon> -->
      <input type="tel" matInput placeholder="555-555-1234">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <div style="padding-left:50px">
      <p><mat-label>Name</mat-label></p>

      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput>
        <mat-icon matSuffix>shop</mat-icon>
      </mat-form-field>
    </div>

    <div style="padding-left:50px">
      <p><mat-label>Name Left Icon</mat-label></p>

      <mat-form-field>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div style="padding-left:50px">
      <p><mat-label>Name Right Icon</mat-label></p>
      <mat-form-field>
        <input type="text" matInput>
        <mat-icon matSuffix>shop</mat-icon>
      </mat-form-field>
    </div>

    <div style="padding-left:50px">
      <p><mat-label>Name No Icon</mat-label></p>
      <mat-form-field>
        <input type="text" matInput>
      </mat-form-field>
    </div>

    <div style="padding-left:50px">
      <p><mat-label>Time</mat-label></p>

      <mat-form-field>
        <input type="time" step="1" matInput>
      </mat-form-field>
    </div>

  </form>


  <h5>11.List</h5>
  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
  </mat-list>

  <h5>11 a. list Selection</h5>
  <mat-selection-list #shoes>
    @for (shoe of typesOfShoes; track shoe) {
    <mat-list-option>{{shoe}}</mat-list-option>
    }
  </mat-selection-list>
  <p>
    Options selected: {{shoes.selectedOptions.selected.length}}
  </p>

  <h5>13</h5>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="1" color="primary">Option 1</mat-radio-button>
    <mat-radio-button value="2" color="primary"> Option 2</mat-radio-button>
  </mat-radio-group>

  <h5>16 Sliders</h5>
  <mat-slider>
    <input matSliderThumb color="primary">
  </mat-slider>

  <h5>17 Progressbar</h5>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>

  <h5>18 Spinner</h5>
  <mat-spinner></mat-spinner>

  <h5>19. Tab</h5>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group>

  <h5>20. Select</h5>

  <div>
    <p>Drop Down and Filter</p>
    <div class="input-label">
      <mat-label required>Select Video Format</mat-label>
    </div>
    <mat-form-field>
      <mat-select>
        @for(item of [{labelValue:'Apple',value:'apple'},{labelValue:'Orangeaaaaaaaaaaaaaaaaaa',value:'orange'}] ;track
        item){
        <mat-option [value]="item.value">{{item.labelValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <p>Drop Down and Filter With requi9red Field</p>
    <div class="input-label">
      <mat-label class="required">Select Video Format</mat-label>
    </div>
    <mat-form-field>

      <mat-select>
        @for(item of [{labelValue:'Apple',value:'apple'},{labelValue:'Orangeaaaaaaaaaaaaaaaaaa',value:'orange'}] ;track
        item){
        <mat-option [value]="item.value">{{item.labelValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <p>Filter Menu</p>
    <mat-form-field class="filter-menu">

      <mat-select>
        @for(item of [{labelValue:'Apple',value:'apple'},{labelValue:'Orangeaaaaaaaaaaaaaaaaaa',value:'orange'}] ;track
        item){
        <mat-option [value]="item.value">{{item.labelValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div style="display:flex;justify-content:start;gap:5px">
    <lm-status label="Audit" statusClass="status-success"></lm-status>
    <lm-status label="Computer" statusClass="status-error"></lm-status>
    <lm-status label="Science" statusClass="status-warning"></lm-status>
    <lm-status label="Space" statusClass="status-neutral"></lm-status>
  </div>

  <div>
    <lm-table></lm-table>
  </div>


 
</div>