
// Input related Variable
$input-padding-x :0.75rem;
$input-padding-y : 0.5rem;
$input-border-radius : $radius-small;
$input-icon-size : 1.5rem;

// Filter related Variable
$filter-padding-y : 0.5rem;
$filter-padding-right : 0.5rem;
$filter-padding-left:1rem;
$filter-border-radius : $radius-small;
$filter-icon-size : 1.13rem;


.input-field {
    display: flex;
    align-items: center;
    padding: $input-padding-y $input-padding-x;
    border-radius : $input-border-radius;
    @extend .text-main; // this class is defined in typography so place this file after typography file

    .leading-icon, .trailing-icon {
        font-size: $input-icon-size;
        display: inline-block;
    }

    .leading-icon {
        margin-right: 0.75rem;
    }

    .trailing-icon {
        margin-left: 0.75rem;
    }

    input:focus{
        outline:none;
    }
    input {
        border:none;
        padding-left: 0px;
    }
}

.input-label {
    @extend .text-small; // this class in define in typography so place this file after typography file
}

.dropdown {
    @extend .input-field;
}

.filter-menu {
    padding-top: $filter-padding-y;
    padding-bottom: $filter-padding-y;
    padding-right: $filter-padding-right;
    padding-left: $filter-padding-left;
    border-radius : $filter-border-radius;
    @include font-style-mixins($h5-map); // place this file after mixins 

    .trailing-icon {
        font-size: $filter-icon-size;
        display: inline-block;
        margin-left: 0.5rem;
    }
}


// Input Field with icons
.mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
    padding: 0px !important;
    height: 20px !important;
    width: 20px !important;
    font-size: 1.5rem !important; //20px
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color:var(--default-text-color) !important;
}

.mat-mdc-form-field-focus-overlay {
    background: none !important;
}

.mat-mdc-form-field-icon-prefix, [dir=rtl] .mat-mdc-form-field-icon-suffix {
    padding: 0px !important;
}

.mat-mdc-form-field-icon-prefix>.mat-icon {
    padding-right: 12px !important;
}

.mat-mdc-form-field-icon-suffix>.mat-icon {
    padding-left: 12px !important;
}

.mat-mdc-form-field-infix {
    min-height: 24px !important;                                      
    padding-top: 0px !important;               
    padding-bottom: 0px !important;         
}

.mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top:  0px !important;                             
    padding-bottom: 0px !important;      
}                  

.mdc-text-field {
    padding:0px !important;
    border-top-left-radius: var(--radius-small) !important;
    border-top-right-radius: var(--radius-small) !important;
    border-bottom-right-radius: var(--radius-small) !important;
    border-bottom-left-radius: var(--radius-small) !important;
}

.mat-mdc-form-field-icon-suffix, [dir=rtl] .mat-mdc-form-field-icon-prefix {
    padding: 0px; 
}

.mat-mdc-form-field-flex {
    padding: 8px 12px;
    border:1px solid var(--default-border-color) !important;
    border-radius: var(--radius-small) !important;
}

.mat-mdc-form-field-flex:focus-within {
    border:1px solid var(--brand-primary) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--default-background-color) !important;
}

.mat-mdc-text-field-wrapper > .mdc-line-ripple::before,
.mat-mdc-text-field-wrapper >.mdc-line-ripple::after{
    content: none !important;
}

.mat-mdc-form-field-flex {
    align-items: center !important;

}

.mat-mdc-form-field {
    font-family: var(--primary-family)  !important;
    font-size:16px  !important;
    font-style:normal  !important;
    font-weight: 400  !important;
    line-height: 150%  !important;
    letter-spacing:0px  !important;
}

.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-line-ripple::after {
    transition: none !important;
}

.mat-line-ripple--active::after{
    transform: none !important;
}

.mat-mdc-text-field-wrapper:focus {
    background-color: var(--default-background-color) !important;
}

.mat-mdc-text-field--focused:focus{
    background-color: var(--default-background-color) !important;
}

.mat-mdc-form-field-subscript-wrapper .mat-mdc-form-field-bottom-align{
    display: none;
}
.mat-mdc-form-field-hint-spacer {
    flex:none;
}

.mat-mdc-form-field-bottom-align::before {
    content: none !important;
    display: inline-block;
    height: 0px;
}

// Select

.mat-mdc-select-arrow {
    margin-left:12px;
    width: 24px !important;
    height: 24px !important;
    color: var(--default-text-color) !important;
}

.mat-mdc-select {
    font-family: var(--primary-family) !important;
    line-height: 150% !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
}

.input-label{
    display: flex;
    flex-direction: column;
    height: 15.75px;
    flex: 1 0 0;
    color: var(--default-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    font-size: 14px;
    letter-spacing: 0px;
    .required::after{
        content:'*';
        color: var(--brand-primary); 
        margin-left: 0.2em;
    }
}

.filter-menu {
    .mat-mdc-select-arrow {
        margin-left:8px;
        color: var(--default-text-color) !important;
    }
    .mat-mdc-form-field-flex{
        padding:6px 8px 6px 16px !important;
    }
    .mat-mdc-select {
        font-family: var(--primary-family) !important;
        line-height: 150% !important;
        font-size: 1rem !important;
        font-style: normal !important;;
        font-weight: 600 !important;
        letter-spacing: 0px !important;
    }
    .mat-mdc-select-arrow-wrapper{
        height: 18px;
    }
    .mat-mdc-select-arrow{
        svg{
            width: 18px !important;
            height: 18px !important;
        }
    }
    .mat-mdc-form-field-bottom-align::before{
        content:none !important;
    }
    .mat-mdc-form-field-flex:focus-within {
        border:1px solid var(--default-border-color) !important;
    }
}

.mdc-text-field--focused {
    background-color: rgba(166, 18, 18) !important;
  }