<p class="status-error">chips works!</p>
<mat-chip-set aria-label="Fish selection">
    <mat-chip class="status-success">One fish</mat-chip>
    <mat-chip class="status-warning">Two fish</mat-chip>
    <mat-chip class="status-error">Three fish</mat-chip>
    <mat-chip disabled>Four fish</mat-chip>
  </mat-chip-set>
<p>Default chips</p>
<mat-chip-set aria-label="Fish selection">
    <mat-chip >One fish</mat-chip>
    <mat-chip >Two fish</mat-chip>
    <mat-chip >Three fish</mat-chip>
    <mat-chip disabled>Four fish</mat-chip>
  </mat-chip-set>
