<p>home works!</p>
<h1>This is heading</h1>
<h2>This is heading</h2>
<h3>This is heading</h3>
<h4>This is heading</h4>
<h5>This is heading</h5>
<h6>This is heading</h6>
<p class="display">this is display class</p>
<p class="text-main">this is text-main class</p>
<p class="text-large">this is text-large class</p>
<p class="text-small">this is text-small class</p>

<app-button></app-button>
<app-card></app-card>
<app-chips></app-chips>
<app-input></app-input>
<div>
    <ul class="tabs">
        <li class="tab">tab1</li>
        <li class="tab">tab2</li>
        <li class="tab">tab3</li>
        <li class="tab selected">tab4</li>
    </ul>
</div>