<!-- <div>
    <label for="id1"> {{ label }}</label>
    <input type="text" [placeholder]="placeholder" [value]="value" (input)="onInputChange($event)" [disabled]="isDisabled" id="id1">
</div>   -->
<!-- <div class="input-field">
    <span class="material-symbols-outlined leading-icon">
        search
    </span>
    <input type="text" placeholder="Search" />
  </div> -->

<div class="" style="display:flex">
      <mat-label class="input-label">Enter some input</mat-label>
</div>
<div class="input-field">
    <span class="material-symbols-outlined leading-icon">
        search
    </span>
    <input matInput #input maxlength="10" placeholder="search"  />
  </div> 
  